
/*
    I am the quiet storm, ping me tinka.edgar@gmail.com if you like my code
*/

.posts{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
}

.post{
    width: 23%;
    text-align: left;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}
.image{
    width: 100%;
}
.btn-success, .btn-success :hover{
    background-color: #3367d6;
    border: 1px solid #3367d6;
    margin: 5px;
}
.center-text{
    text-align: center;
}

/* start media queries */

@media screen and (max-width: 768px) and (min-width: 570px) {
    .post{
        width: 48%;
    }
}
@media screen and (max-width: 569px){
    .post{
        width: 98%;
    }
}